In [13]:
import geo as rg

In [49]:
import pprint
pp = pprint.PrettyPrinter(indent=4)
coordinate = (38.93305556, -120.40444444)

In [50]:
result = rg.get(coordinate) # default mode = 2

In [51]:
pp.pprint(result)

{   'admin1': 'California',
    'admin2': 'El Dorado County',
    'cc': 'US',
    'lat': '38.76129',
    'lon': '-120.58659',
    'name': 'Pollock Pines'}

In [29]:
result['admin2']

'Napa County'

In [30]:
import pandas as pd

In [33]:
filtered_fires = pd.read_csv('data/clean_fire.csv')
filtered_fires.head()

/anaconda2/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2714: DtypeWarning: Columns (13,14,37,39) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,Unnamed: 0.1,OBJECTID,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,...,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_CODE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME,Shape
0,0,0,1,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,...,A,40.036944,-121.005833,5.0,USFS,CA,63,63.0,Plumas,NaN
1,1,1,2,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,...,A,38.933056,-120.404444,5.0,USFS,CA,61,61.0,Placer,NaN
2,2,2,3,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,...,A,38.984167,-120.735556,13.0,STATE OR PRIVATE,CA,17,17.0,El Dorado,NaN
3,3,3,4,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,...,A,38.559167,-119.913333,5.0,USFS,CA,3,3.0,Alpine,NaN
4,4,4,5,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,...,A,38.559167,-119.933056,5.0,USFS,CA,3,3.0,Alpine,NaN

In [ ]:
for i in range(1,len(filtered_fires)):
    c = (filtered_fires.LATITUDE[i], filtered_fires.LONGITUDE[i])
    filtered_fires["COUNTY"] = rg.get(c)['admin2']

In [ ]:
filtered_fires["COUNTY"]