In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA

In [2]:
data = pd.read_csv("winemag-data-130k-v2.csv")

In [3]:
data.shape

(129971, 14)

In [4]:
data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [5]:
variety_onehot = data['variety']
variety_onehot = pd.get_dummies(variety_onehot, columns = ['variety'], prefix = 'var')

variety_onehot.head()

,var_Abouriou,var_Agiorgitiko,var_Aglianico,var_Aidani,var_Airen,var_Albana,var_Albanello,var_Albariño,var_Albarossa,var_Aleatico,...,var_Yapincak,var_Zelen,var_Zibibbo,var_Zierfandler,var_Zierfandler-Rotgipfler,var_Zinfandel,var_Zlahtina,var_Zweigelt,var_Çalkarası,var_Žilavka
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
province_onehot = data['province']
province_onehot = pd.get_dummies(province_onehot, columns = ['province'], prefix = 'prov')

province_onehot.head()

,prov_Achaia,prov_Aconcagua Costa,prov_Aconcagua Valley,prov_Aegean,prov_Agioritikos,prov_Ahr,prov_Alenquer,prov_Alentejano,prov_Alentejo,prov_Alenteo,...,prov_Wellington,prov_Western Australia,prov_Western Cape,prov_Wiener Gemischter Satz,prov_Württemberg,prov_Zenata,prov_Österreichischer Perlwein,prov_Österreichischer Sekt,prov_Štajerska,prov_Župa
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
pca = PCA(n_components = 5, svd_solver = 'auto')

In [8]:
new_var = pca.fit_transform(variety_onehot)

print(new_var.shape)
print(pca.explained_variance_ratio_)

(129971, 5)
[0.10237583 0.08829476 0.07405042 0.06411154 0.05125861]

In [9]:
new_prov = pca.fit_transform(province_onehot)
print(pca.explained_variance_ratio_)

[0.23035958 0.06917336 0.05034929 0.04773204 0.0419415 ]

In [10]:
vintage_data = pd.read_csv("winemag-data-130k-v2 vintage merge.csv")
vintage_data.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,vintage
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,2013.0
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,2011.0
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,2013.0
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,2013.0
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,2012.0

In [11]:
var_PCA = pd.DataFrame({'var_PCA0':new_var[:,0],'var_PCA1':new_var[:,1],'var_PCA2':new_var[:,2],'var_PCA3':new_var[:,3],'var_PCA4':new_var[:,4]})

prov_PCA = pd.DataFrame({'prov_PCA0':new_prov[:,0],'prov_PCA1':new_prov[:,1],'prov_PCA2':new_prov[:,2],'prov_PCA3':new_prov[:,3],'prov_PCA4':new_prov[:,4]})

vintage_data = pd.DataFrame({'vintage':vintage_data.loc[:,'vintage']})

normalized_vintage=(vintage_data-vintage_data.mean())/vintage_data.std()

In [12]:
print(var_PCA.shape)
print(prov_PCA.shape)
print(normalized_vintage.shape)

(129971, 5)
(129971, 5)
(129971, 1)

In [13]:
clustering_data = pd.concat([var_PCA, prov_PCA, normalized_vintage], axis = 1)

In [14]:
clustering_data = clustering_data.dropna()
print(clustering_data.shape)
clustering_data.head()

(125166, 11)

,var_PCA0,var_PCA1,var_PCA2,var_PCA3,var_PCA4,prov_PCA0,prov_PCA1,prov_PCA2,prov_PCA3,prov_PCA4,vintage
0,-0.042888,-0.068777,-0.026566,-0.101328,-0.101726,-0.265423,-0.072229,-0.003777,0.041030,-0.094509,0.043453
1,-0.043330,-0.069631,-0.026979,-0.103279,-0.104447,-0.260115,-0.066785,-0.003334,0.036036,-0.081033,0.000856
2,-0.039453,-0.062258,-0.023481,-0.087278,-0.083093,-0.309139,-0.165798,-0.028359,0.653240,0.670295,0.043453
3,-0.058920,-0.102247,-0.045179,-0.203703,-0.341920,-0.248860,-0.057066,-0.002670,0.028409,-0.061450,0.043453
4,0.865893,0.261897,0.045114,0.107955,0.059521,-0.309139,-0.165798,-0.028359,0.653240,0.670295,0.022154

In [15]:
from sklearn.cluster import KMeans
from sklearn.cluster import MiniBatchKMeans
from sklearn.cluster import AgglomerativeClustering
from sklearn.cluster import SpectralClustering
from sklearn.cluster import DBSCAN
from sklearn.cluster import Birch

In [16]:
def label_count(labels):

	lab_count = dict()

	for x in labels:
		if x in lab_count:
			lab_count[x] += 1
		else:
			lab_count[x] = 1

	print(lab_count)

	return

In [17]:
n = 5

In [18]:
cluster = KMeans(n_clusters = n, random_state = 0).fit(clustering_data)

labels = cluster.labels_
print("\n\nClusters:")
label_count(labels)

Clusters:
{2: 76686, 4: 30409, 0: 11457, 3: 6604, 1: 10}

In [19]:
#not enough memory to run

#cluster = AgglomerativeClustering(n_clusters=n, affinity='euclidean', linkage='average').fit(clustering_data)

#labels = cluster.labels_
#print("\n\nClusters:")
#label_count(labels)